{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'style/profile.css' %}">
    <link rel="stylesheet" href="{% static 'style/edit-profile.css' %}">
{% endblock %}

{% block body %}
    <div id="sub-body" class="flex-column-body">
        <div id="profile-title">Member Form</div>

        <div>
            <form action="{% url 'members:form' %}" method="POST" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form }}
                {{ form }} 

                <div>
                    <input type="submit" value="submit">
                </div>
            </form>
        </div>

        <div>
            <a href="{% url 'officers:form' %}">I'm an officer</a>
        </div>
    </div>
{% endblock %}