{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'style/officers.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'javascript/officers.js' %}"></script>
{% endblock %}

{% block body %}
    <div id="officers-content">
        {% for officer in officers %} 
            <div class="officer-card">
                <img class="image" src="{{ officer.image }}">
                <div class="text">
                    <h2 class="name">{{ officer.user.first_name }} {{ officer.user.last_name }}</h3>
                    <h5 class="role">{{ officer.role }}</h6>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}