#result-container.flex-column-body {
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
}

.result-icon-container {
    border-radius: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--xxs);
    font-size: xx-large;
}

#result-icon-container-ok {
    border: 4px solid var(--secondary-one);
    color: var(--secondary-one);
}

#result-icon-container-bad {
    border: 4px solid var(--red);
    color: var(--red);
}