#officers-content  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--s) var(--m);
    align-items: center;
    margin: var(--ms);
}

.officer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 36vh;
    min-width: 180px;
    /* border-radius: 10px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}

@media screen and (max-aspect-ratio: 1/1) {
    .officer-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 38%;
        min-width: 200px;
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    }    
}

@media screen and (max-width: 500px) {
    .officer-card {
        min-width: 120px;
    }
}

.image {
    width: 100%;
    aspect-ratio: 5/6;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.text {
    margin-top: var(--s);
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    box-sizing: border-box;
    padding-left: var(--xs);
    padding-right: var(--xs);
    padding-bottom: var(--xs);
    color: var(--accent);
    background-color: var(--dominant);
}

.name, .role, .description{
    font-weight: 400;
    margin: 0;
}

.role {
    margin-bottom: var(--s);
    color: var(--accent-t);
}